<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Rails testing for whowish_word</title>
		<%= csrf_meta_tag%>
		<%= javascript_include_tag "jquery-1.6.4.js" %>
		<%= whowish_word_javascript_and_css %>
		<%= stylesheet_link_tag "main.css"%>
	</head>
	<body>
		<%= content_for?(:nested_layout) ? yield(:nested_layout) : yield %>
	</body>
</html>