<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Rails testing for whowish_word</title>
		<%=csrf_meta_tag%>
		<%= javascript_include_tag "class.js" %>
		<%= javascript_include_tag "jquery-1.6.2.min.js" %>
		<%= javascript_include_tag "csrf_and_authenticity_token_hook.js" %>
		<%= javascript_include_tag "jquery.escape.js" %>
		<%= javascript_include_tag "jquery.sizes.min.js" %>
		<%= javascript_include_tag "jquery.loading_button.js" %>

		<%= javascript_include_tag "whowish_word_dialog.js" %>
		<%= javascript_include_tag "whowish_word_variables.js" %>
		<%= javascript_include_tag "whowish_word_helper.js" %>
		<%= javascript_include_tag "whowish_word.js" %>
		
		<%= javascript_include_tag "whowish_word_content_handler.js" %>
		<%= javascript_include_tag "whowish_word_attribute_handler.js" %>
		<%= javascript_include_tag "whowish_word_html_handler.js" %>
		<%= javascript_include_tag "whowish_word_value_handler.js" %>
		<%= javascript_include_tag "whowish_word_text_handler.js" %>
		
		<%= javascript_include_tag "whowish_word_creator.js" %>
		<%= javascript_include_tag "whowish_word_common_creator.js" %>
		<%= javascript_include_tag "whowish_word_element_creator.js" %>
		<%= javascript_include_tag "whowish_word_html_creator.js" %>
		<%= javascript_include_tag "whowish_word_value_creator.js" %>
		<%= javascript_include_tag "whowish_word_text_creator.js" %>
		<%= javascript_include_tag "whowish_word_select_creator.js" %>

		<%= stylesheet_link_tag "whowish_word.css"%>
		<%= stylesheet_link_tag "main.css"%>
	</head>
	<body>
		<%= content_for?(:nested_layout) ? yield(:nested_layout) : yield %>
	</body>
</html>