<span id="view_before_partial"><%= word_for :text%></span>

<%= render :partial=>"partial"%>

<span id="view"><%= word_for :text%></span>
<span id="view_attr"><%= word_for_attr :text%></span>

<span id="view_with_variables"><%= word_for :text, :number=>5, :name=>"tanin" %></span>
<span id="view_attr_with_variables"><%= word_for_attr :text, :number=>5, :name=>"tanin"%></span>