<h1>
	This is the test page for
	<a href="http://www.github.com/tanin47/whowish_word">whowish_word</a>
</h1>
<h3>Choose the language</h3>
<ul class="Menu">
	<li class="<%='Active' if I18n.locale == :en%>">
		<a href="/home?locale=en">en</a>
	</li>
	<li class="<%='Active' if I18n.locale == :th%>">
		<a href="/home?locale=th">th</a>
	</li>
	<li class="<%='Active' if I18n.locale == :jp%>">
		<a href="/home?locale=jp">jp</a>
	</li>
	<li>
		<%
			if @whowish_word_config.edit_mode == true
		%>
				<a href="/home?edit_mode=no" style="font-weight: bold;color: green;">Edit-Mode: ON</a>
		<%
			else
		%>
				<a href="/home?edit_mode=yes" style="font-weight: bold;color: red;">Edit-Mode: OFF</a>
		<%
			end
		%>
	</li>
</ul>

<form autocomplete="off" onsubmit="return false;">
	<div>
		<span style="width:600px;">
			<p>This is the page that tests every element.</p>
		</span>
		<span>

		</span>
		<span>
			<b>Text: </b> <%=t :text, :name => "Tanin"%>
		</span>
		<span>
			<b>Bullet: </b> <ul>
								<li><%=t :text1%></li>
								<li><%=t :text2%></li>
							</ul>
		</span>
		<span>
			<b>Anchor: </b> <a href="#"><%=t :text3%></a>
		</span>
		<span>
			<b>Label: </b> <label for="some_textbox"><%=ta :label_text%></label>
			<input type="text" name="some_textbox">
		</span>
		<span>
			<b>Textbox: </b> <input type="textbox" name="<%=Time.now.to_i%>_0"
									title="<%=ta :textbox_title%>" 
									value="<%=ta :textbox_value%>" 
									placeholder="<%=ta :textbox_placeholder%>">
		</span>
		<span>
			<b>Textarea: </b> <textarea name="<%=Time.now.to_i%>_1"
									title="<%=ta :textarea_title%>"
									placeholder="<%=ta :textarea_placeholder%>"><%=ta :textarea_value%></textarea>
		</span>
		<span>
			<b>Checkbox: </b> <input type="checkbox"  name="<%=Time.now.to_i%>_2"
								title="<%=ta :checkbox_title%>" 
								value="<%=ta :checkbox_value%>">
		</span>
		<span>
			<b>Radio: </b> <input type="radio"  name="<%=Time.now.to_i%>_3"
								title="<%=ta :radio_title%>" 
								value="<%=ta :radio_value%>">
		</span>
		<span>
			<b>Select: </b> <select title="<%=ta :select_title%>">
								<option value="<%=ta :option_value_0%>"><%=ta :option_text_0%></option>
								<option value="<%=ta :option_value_1%>"><%=ta :option_text_1%></option>
							</select>
		</span>
		<span>
			<b>Button(Input): </b> <input type="button" 
									title="<%=ta :input_button_title%>" 
									value="<%=ta :input_button_value%>" 
									onclick="alert('hello');">
		</span>
		<span>
			<b>Submit(Input): </b> <input type="submit" 
									title="<%=ta :submit_title%>" 
									value="<%=ta :submit_value%>" 
									onclick="alert('hello');">
		</span>
		<span>
			<b>Button: </b> <button title="<%=ta :button_title%>" onclick="alert('hello');"><%=ta :button_value%></button>
		</span>
		<span>
			<b>Late Text: </b> <span id="late_text"></span>
			
			<script type="text/javascript">
				
				setTimeout(function() {
					$('#late_text').html("<%=t :late_text%>");
				},5000);
				
			</script>
		</span>
		<span>
			<b>Late Textbox: </b> <input type="textbox" id="late_textbox" name="<%=rand(1000)%>"
									title="title" 
									value="value" 
									placeholder="placeholder">
									
			<script type="text/javascript">
				
				setTimeout(function() {
					$('#late_textbox').attr("title","<%=ta :late_textbox_title%>");
					$('#late_textbox').val("<%=ta :late_textbox_value%>");
					$('#late_textbox').attr("placeholder","<%=ta :late_textbox_placeholder%>");
				},5000);
				
			</script>
		</span>
	</div>
</form>

