<br/>
<br/>
<div>
	<b>Textbox on normal div:</b> 
	<input type="text" value="__whowishWord__!!!!!normal_div!!!!!value" placeholder="placeholder" name="<%=rand()%>">
	<br/>
	<dfn>__whowishWord__!!!!!normal_text!!!!!erhreherherh
	erherherh
	erherherher
	herherherh
	reherherherh</dfn>
	<br/>
	<textarea id="test_textarea" title="__whowishWord__!!!!!title_textarea!!!!!title" name="<%=rand()%>">__whowishWord__!!!!!value_textarea!!!!!123wegwegewg
	wegewgweg
	wegwegew
	gwegwegweg
	</textarea>
</div>

<div style="float:left;display:block;margin-top:50px;">
	<b style="float:left;">Textbox on float div:</b> 
	<input type="text" style="float:right;" value="__whowishWord__!!!!!float_div_1|a,b,c!!!!!value" placeholder="__whowishWord__!!!!!float_div_1!!!!!placeholder" name="<%=rand()%>">
	<br style="clear:both;"/>
	<input type="text" style="float:right;" value="__whowishWord__!!!!!float_div_2!!!!!value" placeholder="placeholder" name="<%=rand()%>">
	<br style="clear:both" />
	<select id="test_select" style="float:left;">
		<option value="__whowishWord__!!!!!option_value!!!!!value1">__whowishWord__!!!!!option_text!!!!!text1</option>
		<option value="__whowishWord__!!!!!option_value!!!!!value2">__whowishWord__!!!!!option_text!!!!!text2</option>
		<option value="__whowishWord__!!!!!option_value!!!!!value3">__whowishWord__!!!!!option_text!!!!!text3</option>
		<option value="__whowishWord__!!!!!option_value!!!!!value4">__whowishWord__!!!!!option_text!!!!!text4</option>
	</select>
	<br/>
	<input type="button" onclick="show_content();"/>
	<span id="late_content"></span>
</div>

<div style="position:absolute;left:400px;top:200px;width:300px;height:100px;background-color:#BBBBBB">
	<b>Textbox on a absolute-positioned dialog box:</b> 
	<input type="text" value="__whowishWord__!!!!!abs_div!!!!!value" placeholder="placeholder" style="margin-left:50px;margin-top:40px;" name="<%=rand()%>">
	<br/>
</div>


<script type="text/javascript">
	$.whowishWord(true);
	
	function show_content() {
		$('#late_content').html("<dfn>__whowishWord__!!!!!late_content!!!!!valueaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</dfn>");
	}
</script>
