<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="padding: 0px 0px 0px 0px; margin:0px 0px 0px 0px;">
	<head>
		<link rel="P3Pv1" href="/w3c/p3p.xml">
		<meta http-equiv="P3P" policyref="/w3c/p3p.xml"  content='CP="NOI COR PSA OUR IND OTC"'>
		<title>Whowish Wording System</title>
		<%= javascript_include_tag "jquery-1.6.2.min.js"%>
		<%= javascript_include_tag "/loading_button/jquery.loading_button.js"%>
	</head>
	<body>
		<style type="text/css">
			span, input,textarea {
				font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
				margin:2px 2px 2px 2px;
				font-size:11px;
			}
			.edited {
				background-color: #CC9966 !important;
			}
		</style>
		<script language="javascript">
			
			var is_activated = "<%=($whowish_word_admin == true ? 'yes' : '')%>";
			
			function toggle_activate()
			{
				$('#activate_button').loading_button(true);
				is_activated = (is_activated=="yes")?"":"yes";
				
				$.ajax({
						type: "POST",
						url: '/whowish_word/activate',
						cache: false,
						data: {
							authenticity_token: "<%=form_authenticity_token%>",
							"enabled":is_activated
						},
						success: function(data){
							$('#activate_button').loading_button(false);
							try {
								if (data.ok == true) {
									if (is_activated=="yes")
										$('#activate_button').html('Deactivate Edit Mode');
									else
										$('#activate_button').html('Activate Edit Mode');
									
								}
								else {
									alert(data.error_message);
								}
							} 
							catch (e) {
								alert(e);
							}
							
						},
						error: function(req, status, e){
                            $('#activate_button').loading_button(false);
                            if (req.status == 0) return;
							alert('Cannot connect to the server. Please try again later.');

						}
					});
			}
		</script>
		<span style="display:block;width:740px;">
			<a href="/whowish_word/index">All Wordings</a>
			&nbsp;&nbsp;
			<a href="/whowish_word_email">Emails</a>
			&nbsp;&nbsp;
			<a href="/whowish_word_facebook">Facebook Publish</a>
			&nbsp;&nbsp;
			<a href="#" id="activate_button"  onclick="toggle_activate();return false;">
				<%
					if $whowish_word_admin
				%>
						Deactivate Edit Mode
				<%
					else
				%>
						Activate Edit Mode
				<%
					end
				%>
			</a>
			&nbsp;&nbsp;
			<a href="/whowish_word/logout">Logout</a>
		</span>
		<span style="display:block;width:740px;margin-top:20px;">
			<%=yield%>
		</span>
	</body>
</html>

